body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #e2e0cf;
    color: rgb(32, 31, 25);
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo h1 {
    margin: 0;
}

nav ul {
    
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    
    color: rgba(8, 66, 66, 0.548);
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f0a500;
}

.search-bar {
    display: flex;
}

.search-bar input {
    padding: 5px;
    border: none;
    border-radius: 3px;
}

.search-bar button {
    padding: 5px 10px;
    border: none;
    background-color: #f0a500;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 5px;
}

.search-bar button:hover {
    background-color: #d78e00;
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    
    nav ul li {
        margin: 10px 0;
    }
}